<nav>
    <a href="">All Decks</a>
</nav>


<h1>Deck of Cards</h1>


<h3>Create a card</h3>

{{#oneDeck}}
<form class="createCardForm" action="/decks/cards/{{id}}/create" method="post">
    What would you like on the front of the card? <input id="frontInput" type="text" name="front" value=""><br>
    What would you like on the back of the card? <input id="backInput" type="text" name="back" value=""><br>
    <button type="submit" name="button">Create card</button>
</form>
{{/oneDeck}}

{{#allCards}}

<div class="cardsOnDeck">
    <div class="frontOfCard">
        <p id="frontText"> {{front}}</p>
    </div>
    <div class="backOfCard">
        <p id="backText"> {{back}}</p>
    </div>
    <a href="/decks/card/{{id}}/edit">Edit Card</a>
    <a href="/decks/card/{{id}}/delete">Delete</a>
</div>

{{/allCards}}
<!-- a "test yourself" button should take you to another page -->

<!--each card should have an edit button (post or put with update), a delete (delete or post with destroy) buttonm and a front and a back  -->
<!-- then I want to display the fron and back by just flipping

this page will show both the front and back together, all on one page -->
