<nav>
    <a href="/decks">All Decks</a>
    <a href="/logout">Logout</a>
</nav>


<h1>Deck of Cards</h1>
{{#oneDeck}}
<a href="/decks/{{id}}/quiz">Quiz Yourself</a>


<h3>Create a card</h3>

<form class="createCardForm" action="/decks/cards/{{id}}/create" method="post">
    What would you like on the front of the card? <input id="frontInput" type="text" name="front" value=""><br>
    What would you like on the back of the card? <input id="backInput" type="text" name="back" value=""><br>
    <button type="submit" name="button">Create card</button>
</form>
{{/oneDeck}}

{{#allCards}}

<div class="cardsOnDeck">
    <form class="" action="/decks/cards/{{id}}/edit" method="post">

        <div class="frontOfCard">
            <p id="frontText"> {{front}}</p>
            <input id="editFront" type="text" name="front" value="{{front}}" placeholder="Change from {{front}}">
        </div>
        <br>
        <hr>
        <div class="backOfCard">
            <p id="backText"> {{back}}</p>
            <input id="editBack" type="text" name="back" value="{{back}}" placeholder="Change from {{back}}">
        </div>
        <div class="cardButtons">
            <button type="submit" name="button">Edit Cards</button>
            <a href="/decks/card/{{id}}/delete">Delete</a>
        </div>
    </form>
</div>

{{/allCards}}
<!-- a "test yourself" button should take you to another page -->

<!--each card should have an edit button (post or put with update), a delete (delete or post with destroy) buttonm and a front and a back  -->
<!-- then I want to display the fron and back by just flipping

this page will show both the front and back together, all on one page -->
