

<div>
	<h1>Welcome to the quiz!</h1>

</div>
<div class="scoreKeeper">
	<div class="theButtons">
		<button id="correctButton" type="button" name="button">Correct</button>
		<button id="incorrectButton" type="button" name="button">Incorrect</button><br><br><br>
		<button type="button" name="button"><a href="/decks">Return Home</a></button>
	</div>
<br><br><br><br><br><br><br><br>
	<div id="scoreDisplay"></div>
	<br><br>

</div>


	{{#shuffle}}


		<div class="flashCards">

			<div class="front">
	            {{front}}
			</div>
			<div class="back">
	            {{back}}
			</div>
		</div>

	{{/shuffle}}




<!-- <div class="yes">
	<form class="" action="/yes" method="post">
		<input type="text" name="" value="">
	</form>
</div>
<div class="no">
	<form class="" action="index.html" method="post">

	</form>
</div> -->



<script src="/quizScore.js"></script>
