
<h2>Welcome to the quiz!</h2>
{{#shuffle}}
<div class="flip-container" ontouchstart="this.classList.toggle('click');">
	<div class="flipper">
		<div class="front">
            {{front}}
		</div>
		<div class="back">
            {{back}}
		</div>
	</div>
</div>
{{/shuffle}}
